@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: 'Mukta', sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #2563eb;
  animation: typing 2s steps(18, end) forwards, blink 0.75s step-end infinite;
  max-width: 100%;
  box-sizing: border-box;
}

.rdp-day {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem !important;
  height: 5rem !important;
  width: 5rem !important;
}
.rdp-outside {
  background-color: rgba(0, 0, 0, 0.05);
}

.rdp-month_grid {
  border-collapse: unset !important;
  border-spacing: 0.5rem !important;
}

.rdp-today {
  border: 1px solid rgba(37, 99, 235, 1) !important;
  border-radius: 1rem !important;
}
.rdp-selected {
  background-color: rgba(37, 99, 235, 0.1) !important;
}
